@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    outline: 0;
}

body{
    font-family: 'Open Sans';
    background-color: #636c79;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 3rem 0rem 2rem;
}

.navbar img{
    width: 120px;
}

.list{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    list-style-type: none;
    margin-left: 8rem;
    font-size: 1rem;
    color: #d4d1d1;
}

.register{
    padding: 0.5rem 2rem;
    background: none;
    border: 1px solid #d4d1d1;
    border-radius: 10px;
    color: #d4d1d1;
    margin-right: 3rem;
}

.section1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 3rem;
}

.section1 img{
    width: 500px;
}

.section1-Container h1{
    font-size: 3rem;
    color: #fff;
}

.section1-Container p{
    margin-top: 1rem;
    color: #fff;
    margin-bottom: 1rem;
}

.section1-form{
    padding: 0.3rem 0.3rem 0.3rem 0.3rem;
    background-color: #fff;
    border-radius: 5px;
}

.section1-form span i{
    width: 30px;
}

.section1-form input{
    padding: 0.5rem 0.5rem;
    border: none;
}

.section1-form input::placeholder{
    font-size: 1rem;
}

.section1-form button{
    margin-left: 6rem;
    padding: 0.7rem 2rem;
    background-color: #8bb7a2;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.section2{
    background-color: #fff;
    margin-top: 4rem;
    padding-top: 4rem;
}

.section2 h1{
    text-align: center;
    font-size: 2rem;
    color: #10181d;
}

.section2-achieve{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
    margin-top: 2rem;
    color: #10181d;
}
.section2-achieve-cont p{
    margin-top: 0.5rem;
    color: #616161;
}

.section2 .section2Img img{
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}

.section3 {
    background-color: #fff;
    padding-top: 5rem;
}

.section3 h1{
    text-align: center;
    font-size: 2rem;
    color: #3b3b3b;
}

.section3-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
    margin-top: 2rem;
}

.section3-left h2{
    font-size: 1.8rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: #616161;
}

.section3-left p{
    color: #7c7c7c;
    margin-bottom: 1rem;
}

.btn-submit{
    padding: 0.7rem 2rem;
    background-color: #8bb7a2;
    border: none;
    border-radius: 10px;
    color: #fff;
}

.section3-container img{
    width: 500px;
}

.section4{
    background-color: #fff;
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.section4 img{
    width: 500px;
    height: 500px;
}

.section4-right h2{
    margin-top: 3rem;
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: #616161;
}

.section4-right p{
    color: #7c7c7c;
    margin-bottom: 1rem;
}

.section5{
    background-color: #fff;
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.section5-left h2 {
    margin-top: 3rem;
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: #616161;
}

.section5-left p {
    color: #7c7c7c;
    margin-bottom: 1rem;
}

.section5 img {
    width: 500px;
    height: 500px;
}

.section6 {
    background-color: #fff;
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    gap: 7rem;
}

.section6 h2{
    font-size: 1.8rem;
    color: #414040;
    margin-bottom: 1rem;
}

.section6 p{
    color: #7c7c7c;
    margin-bottom: 1rem;
}

.section7{
    background-color: #fff;
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.section7-container img{
    width: 350px;
}

.section7-container h3{
    font-size: 1.5rem;
    color: #414040;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.section7-container p{
    color: #7c7c7c;
    margin-bottom: 1rem;
}

.section8{
    background-color: #fff;
    padding-top: 4rem;
    text-align: center;
    padding-bottom: 3rem;
}

.footer{
    background-color: #141414;
    padding-top: 3rem;
    padding-left: 5rem;
    padding-right: 5rem;
}

.footer-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    margin-bottom: 2rem;
    
}

.footer-bottom{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    /* color: #fff; */
}

.footer-header{
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    color: #d1cbcb;
}

.footer-list{
    list-style-type: none;
    line-height: 2rem;
    color: #a19a9a;
    margin-bottom: 1rem;
}






